.header {
    background-color: #fff;
    border-bottom: 2px solid #e7eaec;
    color: #676a6c;
    padding: 15px 90px 8px 15px;
    position: relative;
    h5 {
        display: inline-block;
        font-size: 14px;
        margin: 0 0 7px;
        padding: 0;
        text-overflow: ellipsis;
        font-weight: 600;
    }
}